* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", "Arial", sans-serif;
}

:root {
  --color: brown;
}

body {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  background: url("../src/assets/todo-background2.jpg") no-repeat center center
    fixed;
  background-size: cover;
  color: var(--color);
}
a {
  text-decoration: none;
  color: var(--color);
}

h1 {
  text-align: right;
  margin-right: 18%;
  padding-top: 45px;
  font-size: 2em;
  font-weight: 700;
  font-style: italic;
}

#todo {
  margin: 3% 7% 0 40%;
  padding: 0px 30px;
  background: white;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-height: 70vh;
  overflow-x: hidden;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 10px;
}

.add-container,
.search-container {
  position: relative;
  flex: 1;
}

.add-icon,
.search-icon {
  position: absolute;
  top: 25%;
  left: 5%;
}

input {
  border: none;
  background: #f6f4f4;
  border-radius: 10px;
  font-size: 1.2em;
  color: var(--color);
  padding: 20px 0px 20px 60px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  width: 100%;
}

input#task-deadline {
  padding: 10px 0px 10px 30px;
  font-size: 1em;
  cursor: pointer;
}

#todo::-webkit-scrollbar {
  width: 5px;
}

#todo::-webkit-scrollbar-thumb {
  background-color: var(--color);
  outline: 2px solid slategrey;
}

#list {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.item:hover {
  background: #eee;
}

.item {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.item-link {
  flex: 1;
  border-bottom: 1px solid #666666;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}

.item-text {
  font-weight: 200;
  font-size: 24px;
  flex-grow: 1;
}

.item-text[style*="text-decoration: line-through"] {
  color: #bbbbbb;
}

ion-icon {
  font-size: 2rem;
  cursor: pointer;
}

.edit-input {
  padding: 10px 20px;
  width: 100%;
  font-size: 1.2em;
  color: black;
}
.edit-input:focus {
  outline: none;
  border: 2px solid var(--color);
}
::-webkit-input-placeholder {
  color: #bbb;
}
::-moz-placeholder {
  color: #bbb;
}
:-ms-input-placeholder {
  color: #bbb;
}
:-moz-placeholder {
  color: #eee;
}

input#add-item:focus {
  border-bottom: 2px solid var(--color);
  outline: none;
}
input#search-item:focus {
  border-bottom: 2px solid var(--color);
  outline: none;
}

#popup {
  position: absolute;
  width: 320px;
  height: 100px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 15px;
  bottom: -150px; /* Initially hidden below the screen */
  right: 50%;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.8s;
}

#popup.active {
  bottom: 20px; /* Show the popup with a smaller distance to the bottom */
  opacity: 1;
}

.notification-title {
  font-weight: 500;
}
.notification-text {
  font-size: 0.9em;
}
.notification-by {
  font-size: 0.8em;
  color: #bbb;
  padding-top: 5px;
}

#task-details {
  margin: 3% 0px 0px 10%;
  padding: 30px;
  background: white;
  font-size: 1.3em;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 25vw;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  max-height: 70vh;
  overflow-x: hidden;
}

.date-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.calendar-icon {
  position: absolute;
  left: 10px;
  font-size: 1.5rem;
  color: var(--color);
}

.date-input {
  border: none;
  background: #fef2f2;
  border-bottom: 2px solid #e5e5e5;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: black;
  padding: 25px 0px 25px 50px; /* Adjust padding to make space for the icon */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  font-size: 0.9em;
}

#task-details-text {
  font-size: 0.9em;
  padding: 5px 0.9em;
  outline-color: var(--color);
  max-width: 100%;
  resize: both;
}

.back-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
  width: 100%;
}
.back-container__left-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-container__right-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-back {
  font-size: 1.6rem;
}

/*todo Styles for colors dropdown */
dropdown {
  position: absolute;
  top: 1%;
  left: 1%;
  display: inline-block;
  z-index: 10;
}
dropdown label,
dropdown ul li {
  text-align: center;
  display: block;
  width: 80px;
  background: #ecf0f1;
  padding: 5px 10px;
}
dropdown label:hover {
  background: brown;
  color: white;
  cursor: pointer;
}
dropdown ul li:nth-child(1):hover {
  background: royalblue;
  color: white;
  cursor: pointer;
}
dropdown ul li:nth-child(2):hover {
  background: limegreen;
  color: white;
  cursor: pointer;
}
dropdown ul li:nth-child(3):hover {
  background: orangered;
  color: white;
  cursor: pointer;
}
dropdown ul li:nth-child(4):hover {
  background: brown;
  color: white;
  cursor: pointer;
}
dropdown label {
  color: brown;
  border-left: 4px solid brown;
  border-radius: 0 5px 0 0;
  position: relative;
  z-index: 2;
}
dropdown input {
  display: none;
}
dropdown input ~ ul {
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}
dropdown input:checked + label {
  background: brown;
  color: white;
}

dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.animate {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Chrome and Safari */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
}

#calendar-themes {
  border: none;
  border-radius: 5px;
  padding: 4px 6px;
  background-color: #f6f4f4;
  color: var(--color);
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    background-size: cover;
  }

  h1 {
    position: relative;
    margin-top: 20px;
    padding-top: 15px;
    text-align: right;
    font-size: 1.6em;
    right: -12%;
  }

  #todo {
    max-width: 90%;
    padding: 0px 30px;
    margin: 5% auto;
    font-size: 1.6em;
  }

  .input-container {
    padding-top: 2.5%;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .add-container,
  .search-container {
    width: 100%;
  }
  .add-icon,
  .search-icon {
    top: 20%;
    left: 84%;
    z-index: 2;
    margin-right: 50px;
  }

  .item {
    gap: 6px;
  }

  .item-text {
    font-weight: 400;
  }

  input {
    box-sizing: border-box;
    height: 30px;
    padding-left: 35px; /* Increased padding to provide more space */
    font-size: 0.9em;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }

  ion-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
  #popup {
    position: absolute;
    bottom: 0;
    z-index: 10;
  }
  #popup.active {
    right: 0;
  }
  ::-webkit-input-placeholder {
    font-size: 0.9em;
  }
  ::-moz-placeholder {
    font-size: 0.9em;
  }
  :-ms-input-placeholder {
    font-size: 0.9em;
  }
  :-moz-placeholder {
    font-size: 0.9em;
  }

  #task-details {
    padding: 20px;
    margin: 5% auto;
    width: 90%;
    min-width: 90%;
    font-size: 1.2em;
  }

  #task-details-text {
    width: 100%;
    resize: both;
  }

  .back-container {
    left: 0;
    font-size: 1em;
  }
  #datetime-custom {
    padding: 35px 0px 35px 50px; /* Adjust padding for smaller screens */
    font-size: 1em;
    text-align: center;
  }
}

@media (max-width: 320px) {
  #todo {
    max-width: 100%; /* Adjusted to 100% to avoid horizontal scroll */
    padding: 0px 5px;
    margin: 10% auto;
    font-size: 1.3em;
  }

  .input-container {
    flex-direction: column;
  }

  .add-container,
  .search-container {
    width: 100%;
  }

  ion-icon {
    font-size: 1.2rem;
    cursor: pointer;
  }

  .item-text {
    font-weight: 400;
  }

  #task-details {
    margin: 10% auto;
    padding: 15px;
    width: 100%; /* Adjusted to 100% to avoid horizontal scroll */
    min-width: 100%; /* Adjusted to 100% to avoid horizontal scroll */
    font-size: 1em;
  }

  .back-container {
    left: 0;
    font-size: 0.9em;
  }

  #datetime-custom {
    padding: 25px 25px 30px 40px;
    font-size: 0.9em;
    text-align: center;
  }
  #label-calendar-themes,
  #calendar-themes {
    display: none;
  }

  #popup {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    z-index: 10;
    width: 90%; /* Adjusted to 90% to avoid horizontal scroll */
  }
  #popup.active {
    right: 50%;
    transform: translateX(50%);
  }
}
